<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.
    css">
    <link rel="stylesheet" href="style.css">
    <title>Seja bem vindo(a) ao Edula!</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="imagens/logo.png">
            </a>
        </div>
    
        <ul class="nav-links">
            <li class="link"><a href="#">Inicio</a></li>
            <li id="link1" class="link"><a href="#">Área do aluno</a></li>
            <li id="link2" class="link"><a href="#">Área do professor</a></li>
        </ul>
        <button class="btn" ><a href="ddb.html">Login</button>
    </nav>
    
    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <H1>Bem vindo ao <span>Edula</span>.</H1>
            <p>
                Edula é uma plataforma tecnológica educacional adaptativa
                integrada com inteligência artificial IA. 
                Com o objetivo de auxiliar os alunos e professores
                em sua jornada escolar.
            </p>
        </div>
        <div class="imagens">
            <img src="imagens/header.png">
        </div>
    </header>

    <section class="container">
        <h2 class="header">INFORMAÇÕES SOBRE ÁREA DO ALUNO</h2>
        <div class="features">
            <div class="card">
                <span><i class="ri-inbox-unarchive-line"></i></span>
                <h4>Matemática</h4>
                <p>
                    Se você aluno, não tem um bom desenvolvimento
                    em matemática, não consegue se sair bem nas provas,
                    iremos te dar uma ajudinha.
                </p>
            </div>
            <div class="card">
                <span><i class="ri-git-repository-fill"></i></span>
                <h4>Português</h4>
                <p>
                    Se português não é seu ponto forte, muito menos produção textual
                    dê uma olhada aqui, depois fazer redação vai ser tão simples 
                    quanto respirar.
                </p>
            </div>
    
    </section>

    <section class="container">
        <h2 class="header">INFORMAÇÕES SOBRE ÁREA DO PROFESSOR</h2>
        <p class="sub-header">
            Sabemos que a vida do educador não é simples
            e cheia de adversidades, mas o Edula veio para transformar a forma dos 
            professores ensinarem em sala de aula. Querido professor, seja bem vindo ao Edula!
        </p>

        <div class="pricing">
            <div class="card">
                <div class="content">
                    <h4>Aulas mais interativas</h4>
                    <h3><i class="ri-bubble-chart-line"></i></h3>
                    <p>
                        <i class="ri-bubble-chart-line"></i>
                        Você pode criar aulas mais interessantes e práticas sem
                        muito esforço, e assim ajudando os alunos a terem
                        um bom.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h4>Avaliações do aluno</h4>
                    <h3><i class="ri-bubble-chart-line"></i></h3>
                    <p>
                        <i class="ri-bubble-chart-line"></i>
                        Teste o nível de conhecimento dos seus alunos na sala de aula 
                        através avaliações diágnosticas simples.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h4>Relatório do aluno</h4>
                    <h3><i class="ri-bubble-chart-line"></i></h3>
                    <p>
                        <i class="ri-bubble-chart-line"></i>
                        Você pode ver um pequeno relatório do aluno, 
                        e assim saber se o aluno está com um bom conhecimento
                        sobre determinado assunto.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="container">
        <div class="column">
            <div class="logo">
                <img src="imagens/logo.png">
            </div>
            <p>
                "Portanto, que a educação nunca deixe de ser prioridade nas nossas vidas,
                 por que a educação transforma".
            </p>
        </div>
     </footer>

        <div class="copyright">
            Copyright © 2024 Edula. Site de Ensino-Aprendizagem.
        </div>

    
    <script src="script.js"></script>
</body>

</html>