<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.
    css">
    <link rel="stylesheet" href="int.css">
    <title>Suas aulas mais interativas:</title>
</head>

<body> 
    <div class="cor">
       <span class="blur"></span>
       <span class="blur"></span>
    </div>

<div class="navDiv">
    <nav>
       <ul class="nav-links">
           <li id="link1" class="link"><a href="https://www.youtube.com/watch?v=rDEJDS5zJ3U&list=PLGyv8aUrOlzC-G_Vr88nnTDY-Y5zX46vA">MATEMÁTICA</a></li>
            <li id="link2" class="link"><a href="https://www.youtube.com/watch?v=zd8_NUqoZH4&list=PLonj8APB8U2gpcVuB0dULMCHpaZQrCpvg">PORTUGUÊS</a></li>
       </ul> 
    </nav>
    <h1>EDULA.com</h1>
</div>

    <div class="Pdf">
        <p>Algumas dicas para aulas mais interativas.</p>

        <div class="image">
            <img src="image/online-learning-animate.svg">
        </div>
        
    </div>

</div>

<footer>
    <div class="start">
        <div class="like">
            
        </div>
</footer>

</body>
</html>