<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.
    css">
    <link rel="stylesheet" href="pf.css">
    <title>Bem vindo professor!</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="img-prof/logo.png">
            </a>
        </div>
    
        <ul class="nav-links">
            <li class="link"><a href="INICIO.html">Inicio</a></li>
            <li id="link1" class="link"><a href="#">Diagnósticos do aluno</a></li>
        </ul>
    </nav>
    
    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <H1>Bem vindo ao <span>Edula</span>.</H1>
            <p>
                Olá professor, nós iremos te ajudar a ter aulas mais produtivas
                que podem fazer seus alunos a aprenderem melhor do assistindo
                aula normalmente, pois desenvolvemos um site BETA 
                para ajudar vocês nisso. Vamos lá!
            </p>
        </div>
        <div class="imagens">
            <img src="img-prof/webinar-animate.svg">
        </div>
    </header>

    <section class="container">
        <h2 class="header">DIAGNÓSTICOS DO ALUNO</h2>
        <p class="sub-header">

    </p>

        <div class="pricing">
            <div class="card">
                <div class="content">
                    <h4>Aulas mais interativas</h4>
                    <h3><i class="ri-bubble-chart-line"></i></h3>
                    <p>
                        <i class="ri-bubble-chart-line"></i>
                        Você pode ter aulas mais interativas e práticas sem
                        muito esforço, e assim ajudando os alunos a terem
                        um bom.
                    </p>
                </div>
                <a href="interacao aulas.html" class="btn">Entrar</a>
            </div>
            <div class="card">
                <div class="content">
                    <h4>Avaliações diágnosticas</h4>
                    <h3><i class="ri-bubble-chart-line"></i></h3>
                    <p>
                        <i class="ri-bubble-chart-line"></i>
                        Teste o nível de conhecimento dos seus alunos na sala de aula 
                        através avaliações diágnosticas simples.
                    </p>
                </div>
                <button class="btn">Entrar</button>
            </div>
            <div class="card">
                <div class="content">
                    <h4>Relatórios do aluno</h4>
                    <h3><i class="ri-bubble-chart-line"></i></h3>
                    <p>
                        <i class="ri-bubble-chart-line"></i>
                        Você pode ver um pequeno relatório do aluno, 
                        e assim saber se o aluno está com um bom conhecimento
                        sobre determinado assunto.
                    </p>
                </div>
              
                <button class="btn">Entrar</button>
               
            </div>
        </div>
    </section>

    <footer class="container">
        <div class="column">
            <div class="logo">
                <img src="img-prof/logo.png">
            </div>
        </div>

     </footer>

     <div class="copyright">
        Copyright © 2024 Edula. Site de Ensino-Aprendizagem.
    
    </div>
    <script>
        document.getElementById("inter").addEventListener
        ("click",function(){
             window.location.href="interacao aulas.html";
        
        });
        
        
                  </script>



                 
    <script src="jv.js"></script>
</body>

</html>